/*color pallete*/

.howcoskyblue {
  color: #27bcd8;
}
.howcopurple {
  color: #957eba;
}
.howcoblue {
  color: #2e59a9;
}
.howcopink {
  color: #deafd1;
}
.howcoturq {
  color: #4fc3ce;
}

#divider {
  margin-bottom: -1px;
}
